<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>province</param-name>
    <param-value>Mendoza</param-value>
  </context-param>
  <context-param>
    <param-name>country</param-name>
    <param-value>Argentina</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/error-404.html</location> <!-- /src/main/webapp/error-404.html-->
  </error-page>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/errorHandler</location>
  </error-page>
</web-app>
